<button class="btn btn-warning" style="float: right;" (click)="logout()">Logout</button>
<button class="btn btn-danger" style="float: right;" (click)="delete()">delete</button>

<div class="parent">
  <div>
  <h1>welcome{{user}}</h1>
  <a routerLink="/transaction">Transaction history</a>
</div>
<h4>System Date and Time:{{sdate | date:'short'}}</h4>
  <app-delete [item]="acno" (onCancel)="onCancel()"></app-delete>  
  
  <div class="child" [ngClass]="acno? 'style1':''">

<div class="col-4 container border border-2 border-dark mt-3 w-25 p-4 text-center" >
    <img src="../../assets/png-clipart-white-bank-illustration-online-banking-finance-icon-white-bank-building-building-black-white.png"
        alt="" width="100px" height="15%">

<div class="text-center mt-4 name">
  <h2>Deposite</h2>
</div>
<form [formGroup]="DepositeForm">
        <input formControlName="acno" type="text" name="acno" id="depo_acno" class="form-control" placeholder="Account number"><br>
        <div *ngIf="this.DepositeForm.get('acno')?.errors && this.DepositeForm.get('acno')?.touched" style="color: red;">Invalid Account number</div><br>

        <input formControlName="pswd" type="password" name="password" id="depo_pswd" class="form-control" placeholder="Password"><br>
        <div *ngIf="this.DepositeForm.get('pswd')?.errors && this.DepositeForm.get('pswd')?.touched" style="color: red;">Invalid Password</div><br>

        <input formControlName="amount" type="text" name="amount" id="depo_name" class="form-control" placeholder="amount"><br>
        <div *ngIf="this.DepositeForm.get('amount')?.errors && this.DepositeForm.get('amount')?.touched" style="color: red;">Invalid Amount</div><br>


    <div>
        <button class="btn mt-3 btn btn-primary" (click)="deposite()" type="button">deposite</button><br>
        </div>
</form>
<!-- <div class="text-center fs-7 mt-3">
   <a routerLink="">Sign in</a>
</div> -->
</div>
</div>

<div class="child" [ngClass]="acno? 'style1':''">


<div class="col-4 container border border-2 border-dark mt-3 w-25 p-4 text-center" >
    <img src="../../assets/png-clipart-white-bank-illustration-online-banking-finance-icon-white-bank-building-building-black-white.png"
        alt="" width="100px" height="15%">

<div class="text-center mt-4 name">
  <h2>Withdraw</h2>
</div>
<form [formGroup]="withdrawForm">
        <input formControlName="acno1" type="text" name="acno" id="with_acno" class="form-control" placeholder="Account number"><br>
        <div *ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched" style="color: red;">Invalid Account number</div><br>

        <input formControlName="pswd1" type="password" name="password" id="with_pswd" class="form-control" placeholder="Password"><br>
        <div *ngIf="this.withdrawForm.get('pswd1')?.errors && this.withdrawForm.get('pswd1')?.touched" style="color: red;">Invalid Password</div><br>

        <input formControlName="amount1" type="text" name="amount" id="with_name" class="form-control" placeholder="amount"><br>
        <div *ngIf="this.withdrawForm.get('amount1')?.errors && this.withdrawForm.get('amount1')?.touched" style="color: red;">Invalid Amount</div><br>


    <div>
        <button class="btn mt-3 btn btn-primary" (click)="withdraw()" type="button">withdraw</button><br>
        </div>
</form>
</div>
</div>
<!-- <div class="text-center fs-7 mt-3">
   <a routerLink="">Sign in</a>
</div> -->
</div>
